.app-container {
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.app-header {
  background-color: #36424D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-size: 15pt;
  color: white;
}

.app-links-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 12%;
  width: 40%;
  margin: 2%;
}

.app-cadastrar-box, .app-consultar-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 250px;
}

.app-cadastrar-button, .app-consultar-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-style: dotted;
  border-radius: 10px;
  border-color: #ffffff30;
  border-width: 2px;
  background-color: #ffffff15;
  font-weight: bold;
  color: black;
}

.app-cadastrar-button img, .app-consultar-button img {
  height: 50px;
  width: 50px;
  margin: 2%;
}